.unitParent{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 50px;
}

.choosetype{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.unitChild{
    display: flex;
    // flex-wrap: wrap;
    height: 100%;
    //height: fit-content;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.unitLogoLength{
    //border: 1px solid;
    border-radius: 7px;
    height: 130px;
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f3f4;
    box-shadow: 0px 1px 1px 1px rgb(185, 180, 173);
    cursor: pointer;
}

.unitLogoLength:hover {
    //color: #fff;
    background-color: #b3ffcc;
  }

  .unitLogoTemprature{
    //border: 1px solid;
    border-radius: 7px;
    height: 130px;
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f3f4;
    box-shadow: 0px 1px 1px 1px rgb(185, 180, 173);
    cursor: pointer;
}

.unitLogoTemprature:hover {
    //color: #fff;
    background-color: #ffb3b3;
  }

  .unitLogoVolume{
    //border: 1px solid;
    border-radius: 7px;
    height: 130px;
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f3f4;
    box-shadow: 0px 1px 1px 1px rgb(185, 180, 173);
    cursor: pointer;
}

.unitLogoVolume:hover {
    //color: #fff;
    background-color: #dab3ff;
  }

.logo{
    display: flex;
    margin-top: 15px;
    justify-content: space-around;
    align-items: center;
    width: 600px;
}

.chooseDiv{
        display: flex;
        width: 600px;
}

// .LengthOverOn{
//     height: 137px;
//     width: 173px;
//     border: 1px solid #0EC098;
//     //border-color: solid #0EC098 ;
//     margin: 10px 15px 15px 15px;
//     border-radius: 5%;
//     background-color: #e0faf3;
//     border-radius: 7px;
//     box-sizing: border-box;
    
// }

.LengthOverOn{
    height: 130px;
    width: 160px;
    //border: 1px solid #0EC098;
    //border-color: solid #0EC098 ;
    margin: 10px 15px 15px 15px;
    border-radius: 5%;
    background-color: #b3ffcc;
    border-radius: 7px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //background-color: #f1f3f4;
    box-shadow: 0px 1px 1px 1px rgb(185, 180, 173);
    cursor: pointer;
    
}
.TempOverOn{
    height: 130px;
    width: 160px;
    //border: 1px solid #FD5160;
    margin: 10px 15px 15px 15px;
    border-radius: 5%;
    //background-color: #fff;
    background-color: #ffb3b3;
    border-radius: 7px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //background-color: #f1f3f4;
    box-shadow: 0px 1px 1px 1px rgb(185, 180, 173);
    cursor: pointer;
}

.VolumeOverOn{
    height: 130px;
    width: 160px;
    //border: 1px solid #7224FF;
    margin: 10px 15px 15px 15px;
    border-radius: 5%;
    //background-color: #fff;
    background-color: #dab3ff;
    border-radius: 7px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //background-color: #f1f3f4;
    box-shadow: 0px 1px 1px 1px rgb(185, 180, 173);
    cursor: pointer;
}

.Image1{
    height: 130px;
    width: 160px;
    //border: 1px solid #000;
    margin: 10px 15px 15px 15px;
    border-radius: 5%;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f3f4;
    box-shadow: 0px 1px 1px 1px rgb(185, 180, 173);
    cursor: pointer;
}

.Image2{
    height: 130px;
    width: 160px;
    //border: 1px solid #000;
    margin: 10px 15px 15px 15px;
    border-radius: 5%;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f3f4;
    box-shadow: 0px 1px 1px 1px rgb(185, 180, 173);
    cursor: pointer;
}

.Image3{
    height: 130px;
    width: 160px;
    //border: 1px solid #000;
    margin: 10px 15px 15px 15px;
    border-radius: 5%;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f1f3f4;
    box-shadow: 0px 1px 1px 1px rgb(185, 180, 173);
    cursor: pointer;
}


/* ------------------ media Quiery ---------------------------- */

@media only screen and (max-width: 600px){
    .logo{
        // display: flex;
        flex-direction: column;
        // height: 100%;
        // width: 100%;
        // justify-content: center;
        // align-items: center;
    }
    
    .chooseDiv{
        justify-content: center;
    }
}